<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simcarddemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.usb.host"/>

    <application

        android:allowBackup="true"
        android:exported="true"
        android:icon="@drawable/simrvs"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".Payment"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".OperatorInfo"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".SubmitPreview"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        <activity android:name=".FaceRecognition"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomerInfo"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".RegisterBusiness"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".SimInfo"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".AddNumber"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".OpenCam"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".MainMenu" />
        <activity android:name=".QueryData"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
